.main {
  max-width: 600px;
}

.order {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.price {
  display: flex;
  align-items: center;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.window {
  height: calc(100vh - 426px);
  overflow-y: auto;
}

.item {
  display: flex;
  align-items: center;
  list-style: none;
}

