.card {
  list-style: none;
  max-width: 272px;
  min-height: 208px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.priceItem {
  display: flex;
  align-items: center;
}

.name {
  text-align: center;
}

.window {
  height: calc(100vh - 350px);
  overflow-y: auto;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #F2F2F3;
}