.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fieldset {
  padding: 0;
  border: 0;
  margin-right: 0;
  margin-left: 0;
  
}

/*
.fieldset div {
  width: 100%;
  text-align: right;
}
*/

.fieldset > div > div {
  width: 480px;
  margin-bottom: 24px;
}

.link {
  text-decoration: none;
  color: #4C4CFF;
}

.nav {
  max-width: 320px;
  display: flex;
  flex-direction: column;
  text-decoration: none;

}