.menuList {
  list-style: none;
}

/*
.menuItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
*/

.card {
  list-style: none;
  width: 272px;
  height: 208px;
  border: 1px dashed #4C4CFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.priceItem {
  display: flex;
  align-items: center;
}

.menuItems {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 24px;
}




