.main {
  display: flex;
  flex-direction: column;
}

.tab {
  display: flex;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.window {
  height: calc(100vh - 350px);
  overflow-y: auto;
}